<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154243893765-386ma7epcl9mrlg5dm8pmaee4vp39roe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154243893765-386ma7epcl9mrlg5dm8pmaee4vp39roe</string>
	<key>API_KEY</key>
	<string>AIzaSyAqJAxH5KX1iJ7pE20lOxwld9cZkAQYQBs</string>
	<key>GCM_SENDER_ID</key>
	<string>154243893765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.InTheNickOfTimeSpa</string>
	<key>PROJECT_ID</key>
	<string>inthenameoftimespa-f27fa</string>
	<key>STORAGE_BUCKET</key>
	<string>inthenameoftimespa-f27fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154243893765:ios:22304feaa99dc64116aa6c</string>
	<key>DATABASE_URL</key>
	<string>https://inthenameoftimespa-f27fa.firebaseio.com</string>
</dict>
</plist>